/* body and header */
body{
  margin: 0px;
}
header{
  display: flex;
  background-color: white;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}
  /* header config */
  header a{
    color: MediumAquamarine;
  }
  .logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
    color: MediumAquamarine;
    width: 340px;
  }
  .logo span{
    padding-left: 10px;
  }
  header nav{
    padding-right: 50px;
  }
  nav span{
  display: inline-block;
  padding: 20px 10px;
  }
/* main content */
.content{
  display: flex;
  padding-top: 116px;
  margin: 0 15px;
}
  /* First main column */
  .column.large{
    width: 630px;
  }
    .imagemain{
      display: flex;
      text-align: center;
      align-items: center;
      height: 300px;
      background-image:url("../../resources/images/img-story-main.png");
      font-family: Georgia;
      font-weight: bold;
      font-size: 40px;
      color: white;
    }
    /* div with 2 columns */
    .stories{
      display: flex;
      justify-content: space-between;
    }
    /* config each column */
      .history{
        display: block;
        width: 300px;
      }
        .text p{
          font-family: Georgia;
          font-size: 17px;
          color: black;
        }
      /* image woods */
      .imageback{
        display: flex;
        align-items: center;
        background-image:url("../../resources/images/imageback.png");
        height: 300px;
      }
      /* image camera */
      .imagecamera{
        display: flex;
        align-items: center;
        background-image:url("../../resources/images/imagecamera.png");
        height: 300px;
      }
        .imagespan{
          font-family: Georgia;
          font-weight: bold;
          font-size: 30px;
          color: white;
          text-align: center;
        }


  /* Second main column */
  .column.medium{
    width: 300px;
    margin: 0 50px;
  }
   .imagecat{
     display: flex;
     align-items: center;
     background-image:url("../../resources/images/imagecat.png");
     height: 300px;
   }
  /* Third main column */
  .column.small{
    display: flex;
    flex-direction: column;
    width: 240px;
  }
  /* last block */
  .bites{
    text-align: center;

  }
    .bites h3{
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 41px;
    }
    .bitesframe{
      background-color: WhiteSmoke;
      font-family: Verdana;
      font-size: 12px;
      color: DimGray;
    }
      .bitesfline{
          border-bottom: 1px solid black;
          padding: 11px 20px;
          text-align: justify;
        }

/* footer */
footer{
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  height: 300px;
  font-family: Verdana;
  font-size: 12px;
}
  footer .title{
    display: flex;
    align-items: center;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    height: 20px;
    padding-right: 21px;
  }
  .info {
    display: flex;
    align-items: center;
  }
    .footernav{
      padding-left: 25px;
    }
      .footernav a{
      color: black;
      }
